[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	name = b51
	email = b51live@gmail.com
[merge]
	tool = vimdiff
[core]
	editor = vim

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.xxx.com"]
  insteadOf = https://xx.xxx.xxx.xxx
