[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	name = b51
	email = b51live@gmail.com
[merge]
	tool = vimdiff
[core]
	editor = nvim
[pull]
	rebase = false

[url "ssh://git@gitlab.xxx.com"]
  insteadOf = https://xx.xxx.xxx.xxx

[merge]
	tool = nvimdiff
    conflictstyle = diff3
[mergetool "vim_mergetool"]
    cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true

[mergetool "nvimdiff"]
	keepBackup = false
[mergetool "nvimdiff"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
